.banner {
    width: 100%;
    height: 100%;
    position: relative;
}
img{
    width: 100%;
    height: 88vh;
    object-fit: cover;
}
.banner-text{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.banner-text h1{
    font-size: 4rem;
    font-weight: 800;
    color: #143458;
}
.banner-text p{
    font-size: 2rem;
    color: #000;
    padding:0.5rem 0 5rem 0;
    font-weight: 600;
}
.banner-text .show{
    text-decoration: none;
    background: #143458;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .7rem 2rem;
    border-radius: 15px;
    letter-spacing: 2px;
    color: #fff; 
}
.banner-text .show:hover{
    background: #61a2c7a1;
    transition: all 0.2s ease-in-out;
    color: #000;
}

@media screen and (max-width:555px){
    .banner-text h1{
       padding: 10px 20px;
    }
    .banner-text p{
        font-size: 1.1rem;
        color: #fff;
        padding:0 0 2rem o;
    }
    .banner-text .show{
        font-size: 1rem;
        padding: 0.6rem 1.1rem;
        border-radius: 6px;
    }
    img{
       
        height: 75vh;
        
    }
}