.service {
    margin: 2rem 4.5rem;
}

.service h1{
    font-size: 2.5rem;
}
.first-ser{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}
.first-ser-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

.ser-text{
    width: 45%;
    text-align: start;
    font-size: 1.3rem;
}
.ser-text h2{
    padding-bottom: 1rem;
}
.image{
    position: relative;
    z-index: -99;
    width: 50%;
}
.image img{
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 850px){
    .service {
        margin: 4rem 2rem;
    }
    .first-ser{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;

    }
    .first-ser-reverse{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;

    }
    .ser-text{
        width: 100%;
        
    }
    .image{
        width: 100%;
        margin: 1.8rem 0;

    }
    .image img{
        height: 250px;
    }
}