* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App {
  text-align: center;
}

.main-container{
  width: 98vw;
  display: flex;
}

.content{
  background: #eff8f8;
}
